.products{
    h2{
        font-family: 'Open Sans', sans-serif;
    }
    .search{
        display: block;
        font-family: 'Open Sans', sans-serif;
        height: 50px;
        width: 40vw;
        font-size: 17px;
        outline: none;
        margin: auto;
        margin-top: 20px;
        padding-left: 10px;
        border: 1px solid black;
    }
    .productNo{
        padding-top: 10px;
        font-family: 'Open Sans', sans-serif;
    }
    .productList{
        display: grid;   
        grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
        grid-column-gap: 15px;
    }
}